<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
</head>
<body>
    <header>
        <h1>About</h1>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Welcome to my About Page</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo veniam necessitatibus hic, odit ad at unde soluta, in exercitationem ullam tempora, voluptatibus minima repudiandae aut quam! Eum impedit architecto quidem!</p>
        <h3>Contact Me:
            <a href="https://facebook.com/ShahariyaHossain03" target="_blank">Facebook</a>,
            <a href="https://x.com/ShahariyaHossai" target="_blank">X</a>,
            <a href="https://github.com/ShahariyaHossain" target="_blank">GitHub</a>
        </h3>
    </main>
    <footer>
        <p>&copy; 2025 | All copy right reserved via the website</p>
        <p>Follow me on:
            <a href="https://facebook.com/ShahariyaHossain03" target="_blank">Facebook</a>,
            <a href="https://x.com/ShahariyaHossai" target="_blank">X</a>,
            <a href="https://github.com/ShahariyaHossain" target="_blank">GitHub</a>
        </p>
    </footer>
    <script>
        // JavaScript code can be added here
        console.log("Welcome to the Chinese page!");
    </script>
</body>
</html>