<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML | CSS | Tailwind</title>
</head>
<body>
    <main>
        <h1>Learning the front-end technogies</h1>
        <dl>
            <dt>HTML
                <dd>it is the backbone of a website</dd>
            </dt>
            <dt>CSS 
                <dd>it is the colors that make the website looks good</dd>
            </dt>
            <dt>Tailwind
                <dd>it is a CSS framework used for faster UI design</dd>
            </dt>
        </dl>
    </main>
    
</body>
</html>