<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>100 - Days Learning  Challenge</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="chinese.html" target="_blank">Learn Chinese</a></li>
                <li>Learn English</li>
                <li>Learn Django</li>
                <li>Learn Python</li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Hello, welcome to this website to see my learning journey started from scratch</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos explicabo soluta minima illum expedita? Maxime aperiam ipsum, accusantium minima enim, incidunt suscipit quo vitae impedit, aspernatur libero molestiae est voluptatem!</p>
    </main>
    <footer>
        <p>&copy; 2025 | All copy right reserved by the website</p>
    </footer>
</body>
</html>