<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temp</title>
    <style>pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
img {
    height: auto;
    max-width: 100%;
}
</style>
</head>
<body>
    <h1>This is a practice html file</h1>
    <pre language="python">
if request.method == 'GET': 
    do_something() 
elif request.method == 'POST': 
    do_something_else() </pre>
        HTML

Connect CSS stylesheet - <link rel="stylesheet" href="styles.css">

Connect Favicon in the tab header - <link rel="icon" href="favicon.ico" type="image/x-icon">

Connect JS script - <script src="main.js"></script>

Indent nested elements (e.g., using 2 or 4 spaces) to make the code readable and maintainable.

Write comments for document or disable code - <!-- This is a comment -->

Headings (<h1 -h6>) - <h1>Main Title</h1> <h2>Major Section Title</h2> <h3>Subtitle under the section</h3>

Paragraph (<p></p>) - <p>This is a paragraph of text.</p> 

Line Break (<br>) - <p>Line one<br>line two</p>

Horizontal Rule (<hr>) - <p>Section one</p><hr><p>Section two</p>

Bold Text (<strong></strong>) - <p>This is <strong>important</strong>.</p>

Italic Text (<em></em>) - <p>This is <em>emphasized</em>.</p>

Underline (<u></u>) - <u>This text is underlined.</u>

Strikethrough (<s></s>) - <p><s>Old price: $100</s>New price: $80</p>

Superscript (<sup></sup>) - <p>E = mc<sup>2</sup></P>

Subscript (<sub></sub>) - <p>H<sub>2</sub>O</p>
    <pre>Headings (<h1>This is a heading</h1>)</pre>
</body>
</html>